@if (loading) {
	<mat-progress-bar mode="indeterminate"></mat-progress-bar>
	<div style="margin-top: 16px; display: flex; justify-content: center; width: 100%; height: 100%;">
		Loading
	</div>
}
@else {
	<mat-toolbar style="margin-bottom: 16px;">
		<span>STL Collection Viewer</span>
	</mat-toolbar>
	
	<div style="margin-left: 16px; margin-right: 16px; margin-bottom: 16px;">
		<directory 
			[title]="getRootDirectoryName()" 
			[data]="getRootDirectoryData()"
		></directory>
	</div>

	<div style="height: 16px;">

	</div>
}

  
  